[Unit]
Description= mynginx- server start

[Service]
User= knoldus
PIDFile=/run/nginx.pid
ExecStartPre=/usr/sbin/nginx -t
ExecStart=/usr/sbin/nginx
ExecReload=/usr/sbin/nginx -s reload
PrivateTmp=true

[Install]
WantedBy=multi-user.target
